{% extends "base.html" %}

{% block title %}
Cтраница
{% endblock %}


{% block body %}
<div class="container mt-5">
<h>Добавление ваших действий:</h>
<form method="post">
    <input type="text" name="title" id="title" class="form-control" placeholder="Введите название"><br>
    <textarea name="intro" id="intro" class="form-control" placeholder="Введите вашу цель"></textarea><br>
    <textarea name="text" id="text" class="form-control" placeholder="Полностью расспишите, что вы хотите сделать"></textarea><br>
    <input type="submit" class="btn btn-success" value="Enter"><br>
</form>
    </div>
{% endblock %}
