{% extends "base.html" %}

{% block title %}
Ваши действия
{% endblock %}


{% block body %}
<div class="container mt-5">
<h5 style="text-align: center;">Ваши планы снизу: </h5>

    {% if articles|length > 0 %}


    {% for el in articles %}
    <div class="alert alert-info">
        <h2>{{ el.title }}</h2>
        <p>{{ el.intro }}</p>
        <p><br>Дата создания: {{ el.date.date() }}</br></p>
        <p>Дата обновления: {{ el.date.date() }}</p>
        <a href="/posts/{{ el.id }}" class="btn btn-warning">Подробней</a>
    </div>
    {% endfor %}
    {% else %}
    <p>У вас еще нет статей на сайте</p>
    {% endif %}
    </div>
{% endblock %}
