{% extends "base.html" %}

{% block title %}
{{ article.title }}
{% endblock %}


{% block body %}
<div class="container mt-5">
<h>{{ article.title }}</h>


    <div class="alert alert-info">
        <p>{{ article.text }}</p>
        <p><br>Дата: {{ article.date.date() }}</br></p>
        <a href="/posts/{{ article.id }}/del" style="border:2px solid rgb(154, 154, 154);" class="btn btn-success">Сделано</a>
        <a href="/posts/{{ article.id }}/del" style="border:2px solid rgb(154, 154, 154);" class="btn btn-danger">Удалить</a>
        <a href="/posts/{{ article.id }}/update" style="border:2px solid rgb(154, 154, 154); color: rgb(255, 255, 255);"class="btn btn-warning">Редактировать</a>

    </div>

    </div>
{% endblock %}